<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="{{ url_for('auth_static', path='/css/styles.css') }}">
    <script src="{{ url_for('auth_static', path='/js/userMessages.js') }}"></script>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="messages" id="allMessages">
          <ul>
            {% if error_message %}
              <li class="error-message">{{ error_message }}</li>
            {% elif message %}
              <li class="success-message">{{ message }}</li>
            {% endif %}
          </ul>
        </div>
        
        <div class="positioner">
          <div class="form-container">
            <div>
              <div class="container-google">
                <a href="/auth/google" class="google-button">
                    <img src="{{ url_for('auth_static', path='/img/google.png') }}">
                    Login with Google
                </a>
              </div>
              <form method="post" class="login-form" action="/auth/login">
                <p>Log in to your account</p>
                <div class="field-cont">
                  <input type="email" name="email" class="login-field" placeholder="E-mail" required/>
                </div>
                <div class="field-cont">
                  <input type="password" name="password" class="login-field" placeholder="Password" required/>
                </div>
                <div class="field-cont">
                  <button type="submit">Login</button>

                </div>
                <div class="sign-up">
                  <p>Don't have an account?</p>
                  <a href="signup">Sign up here</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>