<!DOCTYPE html>
<html>
<head>
    <title>SuperScrapers</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
<!--            <div class="BurgerMenu">-->
<!--                <span class=""></span>-->
<!--            </div>-->
            <div class="MainLogo">
                <img src="{{ url_for('static', path='/img/swarm128.png') }}" alt="Bee">
            </div>
            <div class="ProfileStatus">

            </div>
        </nav>
    </header>
    <footer>

    </footer>
</body>
</html>