<!DOCTYPE html>
<html>
<head>
    <title>SuperScrapers</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/stage.css') }}">
</head>
<body>

  <header>
      <div class="header-container">

          <div class="burger-menu">
              <input type="checkbox" id="toggle">
              <label for="toggle" class="burger-icon">
                  <span></span>
                  <span></span>
                  <span></span>
              </label>
              <ul class="menu">
                  <li>Upload</li>
              </ul>
          </div>

            <img class="logo-pos"src="{{ url_for('static', path='/img/swarm.png') }}" alt="Bee">
            <div class="profile">
                <div class="current-name">email</div>
                <img src="{{ url_for('static', path='/img/user.png') }}" alt="Bee">
            </div>

      </div>
  </header>

  <main>
      <div class="flex-controller">
          <aside>
              <div class="aside-inside">
                  <p class="upl">Panel</p>
                  <div class="aside-menu-item" onclick="toggleStyles(this)">
                      <img src="{{ url_for('static', path='/img/cloud-storage.png') }}" alt="Bee">
                      Upload
                  </div>
              </div>
          </aside>
          <div class="stage">
              <div class="insider-stage">
                  //UPLOADER
                  <div class="upload-container">
                      <form class="csvForm" enctype="multipart/form-data">
                          <input type="file" id="csvFile" accept=".csv" required>
                      </form>
                  </div>
                  //OPTIONS
                  <div class="container-option">
                      <div class="icon"></div>
                      <p>Website:</p>
                      <select>
                          <option value="option1">Option 1</option>
                          <option value="option2">Option 2</option>
                      </select>
                  </div>

              </div>
          </div>
      </div>
  </main>

  <footer class="footer">
      <div class="wrapper">
          <footer class="footer">
              <div class="footer-content">
                  <p>Ваш текст футера здесь</p>
                  <p>Контактная информация, ссылки или другая дополнительная информация</p>
              </div>
          </footer>
      </div>
  </footer>

  <script>
      const burgerIcon = document.querySelector('.burger-icon');
      const menu = document.querySelector('.menu');

      burgerIcon.addEventListener('click', () => {
          menu.classList.toggle('active');
          burgerIcon.classList.toggle('active');
      });

      function toggleStyles(element) {
          if (element.classList.contains("clicked")) {
              element.classList.remove("clicked");
          } else {
              element.classList.add("clicked");
          }
      }
  </script>

</body>
</html>