<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/login.css') }}">
  </head>
  <body>
    <main>
      <div class="container">
        <div>
          <div class="form-container">
            <div>
              <form method="post" class="login-form">
                <p>Login</p>
                <div class="field-cont">
                  <input type="text" name="username" class="login-field" placeholder="Username" />
                </div>
                <div class="field-cont">
                  <input type="password" name="password" class="login-field" placeholder="Password" />
                </div>
                <button type="submit">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>