<!DOCTYPE html>
<html>
<head>
    <title>Scraper Panel</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="{{ url_for('panel_static', path='/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('panel_static', path='/css/stage.css') }}">
</head>
<body>

  <header>
      <div class="header-container">

          <div class="burger-menu">
              <input type="checkbox" id="toggle">
              <label for="toggle" class="burger-icon">
                  <span></span>
                  <span></span>
                  <span></span>
              </label>
              <ul class="menu">
                  <a href="auth/logout"><li>Logout</li></a>
              </ul>
          </div>

            <img class="logo-pos" src="{{ url_for('panel_static', path='/img/swarm.png') }}" alt="Bee">
            <div class="profile">
                <div class="current-name">{{ current_user }}</div>
                <img src="{{ url_for('panel_static', path='/img/user.png') }}" alt="Bee">
            </div>

      </div>
  </header>

  <main>
      <div class="flex-controller">
          <aside>
              <div class="aside-inside">
                  <p class="upl">Panel</p>
                  <div class="aside-menu-item" onclick="toggleStyles(this)">
                      <img src="{{ url_for('panel_static', path='/img/cloud-storage.png') }}" alt="Bee">
                      Upload
                  </div>
              </div>
          </aside>

          <div class="stage">
            <form class="csvForm" enctype="multipart/form-data">
                <div class="upload-container step-container" id="step1">
                        <input type="file" id="csvFile" accept=".csv" required>
                </div>
            
                <!-- Step 2: Field Mapping -->
                <div class="mapping-container step-container" id="step2" style="display: none;">
                </div>
            
                <!-- Step 3: Prioritization -->
                <div class="priority-container step-container" id="step3" style="display: none;">
                </div>

                <div class="buttons-container">
                    <button type="button" id="back-button" style="display: none;">Back</button>
                    <button type="button" id="next-button" style="display: none;">Next</button>
                    <button type="submit" id="submit-button" style="display: none;">Submit</button>
                </div>

                
            
            </form>
          </div>

      </div>
  </main>

  <footer class="footer">
      <div class="wrapper">
          <footer class="footer">
              <div class="footer-content">
                  <p>Ваш текст футера здесь</p>
                  <p>Контактная информация, ссылки или другая дополнительная информация</p>
              </div>
          </footer>
      </div>
  </footer>

  <script>
    const imagePaths = {
        chain: "{{ url_for('panel_static', path='/img/chain.png') }}"
    };
  </script>
  <script src="{{ url_for('panel_static', path='/js/burgerToggle.js') }}"></script>
  <script src="{{ url_for('panel_static', path='/js/stageHandler.js') }}"></script>
  <script src="{{ url_for('panel_static', path='/js/generateFields.js') }}"></script>

</body>
</html>